<footer>
  <a href="http://dinghing.github.io" class="muted">love life love you</a>
  <form action="http://www.google.com" id="cse-search-box">
  <div>
    <input type="hidden" name="cx" value="partner-pub-4793949146767833:5375450504" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="55" />
    <input type="submit" name="sa" value="Search" />
  </div>
</form>

<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>

  <br />
  <br />
  <img src="{{ site.url }}/images/scribble2.png" alt="dinghing" /> 
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- words ads -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4793949146767833"
     data-ad-slot="5000347309"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</footer>
